:root {
    --clr-dark: #070a13;
    --clr-light: #f1f5f9;
    --clr-slate400: #94a3b8;
    --clr-slate600: #475569;
    --clr-slate800: #1e293b;
    --clr-rose: #e11d48;
    --clr-indigo: #4f46e5;
  
    --size-xxs: 0.5rem;
    --size-xs: 0.75rem;
    --size-sm: 0.875rem;
    --size-base: 1rem;
    --size-lg: 1.125rem;
    --size-xl: 1.25rem;
    --size-2xl: 1.5rem;
    --size-3xl: 1.875rem;
    --size-4xl: 2.25rem;
    --size-5xl: 3rem;
    --size-6xl: 3.75rem;
    --size-7xl: 4.5rem;
    --size-8xl: 6rem;
    --size-9xl: 8rem;
    --size-10xl: 10rem;
  }
  
  
  * {
    margin: 0;
    line-height: calc(1em + 0.5rem);
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    font-family: 'General Sans', sans-serif;
    background-color: var(--clr-dark);
    color: var(--clr-light);
  }
  
  img,
  picture,
  video,
  canvas,
  svg {
    display: block;
    max-width: 100%;
    user-select: none;
  }
  
  button {
    display: inline-block;
    padding: 0;
    border: none;
    background: none;
    cursor: pointer;
    color: inherit;
  }
  
  strong {
    color: var(--clr-indigo);
  }
  
  .btn {
    display: inline-block;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: -0.05em;
    background-color: var(--clr-rose);
    color: var(--clr-light);
    padding: 0.5em 2em;
    border-radius: 15px;
    box-shadow: 0 10px 20px rgba(225, 29, 72, 0.5), 0 6px 6px rgba(225, 29, 72, 0.5), 0 0 100px -10px var(--clr-rose);
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 14px 28px rgba(225, 29, 72, 0.25), 0 10px 10px rgba(225, 29, 72, 0.22), 0 0 120px -10px var(--clr-rose)
  }
  
  .container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    margin-top: 10px
  }
  
  .section {
    margin-top: 5rem;
  }
  
  @media (min-width: 475px) {
    .container {
      max-width: 475px;
    }
  }
  
  .hero {
    text-align: center;
    font-size: var(--size-3xl);
    margin-top: 13rem;
  }
  
  .window {
      width: min(100vw, 450px);
      min-height: 100px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
      margin-top: 30px;
      margin-left: auto;
      margin-righT: auto;
      background-color: var(--clr-light);
      box-shadow: 0 6px 6px var(--clr-rose);
      
  }
  
  label {
    color: var(--clr-dark)
  }
  
  .input {
    margin-right: 1rem;
    width: 15rem;
    text-align: center;
    border: none;
    border-bottom: 2px solid var(--clr-rose);
    background-color: var(--clr-light)
  }
  
  .info {
      width: min(100vw, 450px);
      min-height: 80px;
      border-radius: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      padding: 20px;
      margin-top: 30px;
      margin-left: auto;
      margin-right: auto;
      background-color: var(--clr-slate800);
      
  }
  
  .result{
    overflow-y: auto;
    word-wrap: break-word;
    min-height: 50px;
    color: black;
  }